/* Navigation bar styles */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003c7c; /* Blue background */
  padding: 20px, 20px;
  height: 70px;
  
}

/* Add more styling as needed */


