.payment-content {
    display: flex;
    justify-content: space-between; /* Adds space between the two child divs if there's extra space */
    align-items: start; /* Aligns items to the top of the container */
    gap: 2rem; /* Optional: adds some space between the two child divs */
}

.payment-form {
    flex: 1; /* Takes up equal space as booking-summary, you can adjust as needed */
    /* ... any other styles ... */
}

.booking-summary {
    flex: 1; 
    margin-top: 4rem;/* Takes up equal space as payment-form, you can adjust as needed */
    /* ... any other styles ... */
}
