/* SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 30%;
    padding: 8px;
    margin-left: 50px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .search-icon {
    cursor: pointer;
    color: black;
  }
  