/* FlightSearchBarHorizontal.css */
.flight-search-bar {
  display: flex;
  align-items: center;
  background: white;
  color: black;
  padding: 5px;
  width: 70%;
  border-radius: 10px;
  margin-left: 20px;
  font-family: 'Merriweather Sans'; /* Use Merriweather font for all text */
}

.flight-search-bar .text-field {
  margin: 10px; /* Add spacing around text fields */
}

.flight-search-bar .toggle-button {
  background-color: orange;
  margin: 10px; /* Add spacing around toggle buttons */
  padding: 10px;
  font-family: 'Merriweather Sans'; /* Use Merriweather font for buttons */
}

.flight-search-bar .toggle-button:hover {
  background-color: darkorange;
}
